<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Open Blog CMS - Logowanie administratora</title>
</head>
<body>
<h1>Panel logowania administratora</h1>

<form action="/login" method="post">
    <label for="username"><b>Nazwa użytkownika</b></label>
    <input type="text" name="username" placeholder="Username..." id="username"><br/>

    <label for="password"><b>Hasło</b></label>
    <input type="password" name="password" placeholder="Password..." id="password"><br/>

    <button type="submit">Zaloguj</button>
</form>

<p>
    <a href="/">← Wróć do strony głównej forum</a>
</p>
</body>
</html>
