<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Open Blog CMS - Logowanie administratora')"></head>
<body th:replace="layout :: layout('Open Blog CMS - Logowanie administratora', ~{::article})">

<article>
    <h2>Panel logowania administratora</h2>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}">Nieprawidłowy login lub hasło</p>
    </div>

    <form action="/login" method="post">
        <label for="username"><b>Nazwa użytkownika</b></label>
        <input type="text" name="username" placeholder="Username..." id="username"><br/>

        <label for="password"><b>Hasło</b></label>
        <input type="password" name="password" placeholder="Password..." id="password"><br/>

        <button type="submit">Zaloguj</button>
    </form>

    <p>
        <a th:href="@{/}">← Wróć do strony głównej bloga</a>
    </p>
</article>

</body>
</html>
