
.icon-eye:before { content: '\e800'; } /* '' */
.icon-eye-off:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-off:before { content: '\e803'; } /* '' */
.icon-edit:before { content: '\e804'; } /* '' */
.icon-down-circled2:before { content: '\e805'; } /* '' */
.icon-up-circled2:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-block:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-wrench:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */
.icon-logout:before { content: '\e80c'; } /* '' */
.icon-trash-empty:before { content: '\e80d'; } /* '' */
.icon-ok-circled2:before { content: '\e80e'; } /* '' */
.icon-forward:before { content: '\e80f'; } /* '' */
.icon-left-big:before { content: '\e810'; } /* '' */
.icon-right-big:before { content: '\e811'; } /* '' */
.icon-up-big:before { content: '\e812'; } /* '' */
.icon-down-big:before { content: '\e813'; } /* '' */
.icon-doc:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-floppy:before { content: '\e819'; } /* '' */
.icon-lock:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-users:before { content: '\e81c'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-gg:before { content: '\f260'; } /* '' */
